* {
    box-sizing: border-box;
}

body, html {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    
}

.name-tag {
    height: 250px;
    width: 350px; 
    justify-content: center;
    text-align: center;
    border-radius: 5%;
    background-color: red;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    box-shadow: 5px 5px 5px 0;
}

.header {
    /*background-color: red;*/
    height: 100px;    
    /*border-top-left-radius: 20%;
    border-top-right-radius: 20%;*/
    font-family: sans-serif;
    color: white;
}

.hello {
    font-size: 50px;
    font-weight: bold;
    
    
}

.my-name {
    font-size: 24px;
    font-weight: bold;
}

.zach {
    height: 100px;
    font-size: 50px;
    background-color: white;
    font-family: cursive;
    line-height: 100px;
}


footer {
    background-color: red;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}